* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: black !important;
    color: white;
}

/*Start Nav*/
nav {
    background-color: black;
}

.nav-item a,
i {
    color: white;
}

.nav-item i {
    padding: 8px;
}

.nav-item a:hover {
    color: yellow;
    border-bottom: violet 1px solid;
    transition: all ease-in-out 2s;
    -webkit-transition: all ease-in-out 2s;
    -moz-transition: all ease-in-out 2s;
    -ms-transition: all ease-in-out 2s;
    -o-transition: all ease-in-out 2s;
}

.nav-item i:hover {
    color: yellow;
    border-bottom: violet 1px solid;
    transition: all ease-in-out 2s;
    -webkit-transition: all ease-in-out 2s;
    -moz-transition: all ease-in-out 2s;
    -ms-transition: all ease-in-out 2s;
    -o-transition: all ease-in-out 2s;
}

/*End Nav*/

/*<!--Start Carousal -->*/

.carousel-item {
    background-size: cover;
    background-position: center;

}

@media(max-width:768px) {
    #main-slider .carousel-item p {
        font-size: 1.7rem;
        text-align: center;
        left: auto;
        max-width: 100%;
    }

    #main-slider .carousel-item button {
        font-size: 1.2rem;
        text-align: center;
        left: auto;
        max-width: 100%;
        position: absolute;
        left: 10%;
        top: 60%;
        background-color: orange;
    }
}

.carousel-item p {
    position: absolute;
    left: 10%;
    top: 40%;
    transform: translate(-00%, -40%);
    color: white;
    font-size: 4rem;
    font-weight: bolder;
    -webkit-transform: ;
    -moz-transform: ;
    -ms-transform: ;
    -o-transform: ;
}


.carousel-item button {
    position: absolute;
    left: 40%;
    top: 50%;
    transform: translate(-00%, -40%);
    background-color: orange;
    font-size: 4rem;
    font-weight: bolder;
    -webkit-transform: translate(-00%, -40%);
    -moz-transform: translate(-00%, -40%);
    -ms-transform: translate(-00%, -40%);
    -o-transform: translate(-00%, -40%);
}

.carousel-item i {
    color: blueviolet;
}

.carousel-item p span {
    color: gold;
    animation: shadow-wave 2s ease infinite;
    -webkit-animation: shadow-wave 2s ease infinite;
}

/*<!--End Carousal -->*/

/*<!--Start Why US -->*/
.why-us {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.why-us h3 {
    color: orange;
    text-align: center;
}

.why-us h1 {
    text-align: center;
}

.why-us-box {
    text-align: center;
}

.why-us-box i {
    font-size: 2rem;
    color: aqua;
}

.why-us-box i:hover {
    color: chartreuse;
}

.why-us-box h4 {
    font-size: 1.5rem;
    color: orange;
}

/*<!--End Why US -->*/

/*<!--Start Our Class -->*/

.our-class {
    margin-top: 1vh;
    margin-bottom: 1vh;
    background-color: rgb(24, 23, 23);
}


.our-class h3 {
    color: orange;
    text-align: center;
}

.our-class h1 {
    text-align: center;
}

.our-class-box .inner-box {
    height: 20vh;
    background-color: black;
    border-top: 3px solid lawngreen;
    border-bottom: 3px solid lightseagreen;

}

.inner-box {
    padding: 10px;
}

.inner-box h6 {
    color: orange;
}

.inner-box a {
    float: right;
    font-size: 2rem;
}

.inner-box a i {
    color: lime;
}


/*<!--End  Our Class -->*/
/*<!--Start  registration -->*/
.registration img {
    width: 100%;

}

.text-style {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    font-weight: bold;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

@media(max-width:768px) {
    .registration .text-style {
        font-size: 0.5rem;
    }
}


.text-style p {
    color: orange;
}

.text-style button {
    border: orange 3px solid;
    color: orchid;
}

.text-style button:hover {
    border: orchid 3px solid;
    color: white;
    background-color: orange;
    transition: all ease-in-out 2s;
    -webkit-transition: all ease-in-out 2s;
    -moz-transition: all ease-in-out 2s;
    -ms-transition: all ease-in-out 2s;
    -o-transition: all ease-in-out 2s;
}

/*<!--End  registration -->*/

/*<!--Start  Pricing -->*/
.pricing {
    margin-top: 3vh;
    margin-bottom: 3vh;
    text-align: center;
}

.pricing h3,
h5 {
    color: orange;
}

.pricing h2 {
    color: blue;
}

.pricing span {
    color: orchid;
}

.pricing-box {
    border: 1px solid;
    margin-top: 15px;
    text-align: center;
    border-left-color: springgreen;
    border-top-color: steelblue;
    border-bottom-color: violet;
    border-right-color: yellow;
    border-radius: 130px 0px 180px 0px;
    -moz-border-radius: ;
    -webkit-border-radius: ;
    -ms-border-radius: ;
    -o-border-radius: ;
}

.pricing-box p {
    color: chartreuse;
}

.pricing-box .list-item {
    list-style: none;
    margin: 2px;
}

.pricing-box button {
    border: fuchsia 3px solid;
    color: orchid;
    border-radius: 131px 0px 181px 0px;
    -moz-border-radius: ;
    -webkit-border-radius: ;
    -ms-border-radius: ;
    -o-border-radius: ;
}

.pricing-box button:hover {
    border: orchid 3px solid;
    color: white;
    background-color: orange;
    transition: all ease-in-out 2s;
    -webkit-transition: all ease-in-out 2s;
    -moz-transition: all ease-in-out 2s;
    -ms-transition: all ease-in-out 2s;
    -o-transition: all ease-in-out 2s;
}

/*<!--End  Pricing -->*/
/*<!--Start  gallery -->*/
.gallery {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.gallery h3 {
    color: orangered;
    text-align: center;
}

.gallery img {
    width: 100%;
    height: 100%;
    margin: 10px;
    padding: 5px;
}

.gallery img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    border: 1px solid;
    border-left-color: springgreen;
    border-top-color: steelblue;
    border-bottom-color: violet;
    border-right-color: yellow;
    border-radius: 130px 0px 180px 0px;
    -moz-border-radius: 130px 0px 180px 0px;
    -webkit-border-radius: 130px 0px 180px 0px;
    -ms-border-radius: 130px 0px 180px 0px;
    -o-border-radius: 130px 0px 180px 0px;
    transition: all cubic-bezier(0.6, -0.28, 0.735, 0.045) 2s;
    -webkit-transition: all cubic-bezier(0.6, -0.28, 0.735, 0.045) 2s;
    -moz-transition: all cubic-bezier(0.6, -0.28, 0.735, 0.045) 2s;
    -ms-transition: all cubic-bezier(0.6, -0.28, 0.735, 0.045) 2s;
    -o-transition: all cubic-bezier(0.6, -0.28, 0.735, 0.045) 2s;
}

/*<!--End  gallery -->*/
/*<!--Start  Team -->*/
.team {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.team h4 {
    color: orangered;
    font-size: 1.8rem;
}

.team button {
    border: orange 3px solid;
    color: orchid;
}

.team button:hover {
    border: orchid 3px solid;
    color: white;
    background-color: orange;
    transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86) 2s;
    -webkit-transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86) 2s;
    -moz-transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86) 2s;
    -ms-transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86) 2s;
    -o-transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86) 2s;
}

.card-body {
    background-color: black;
}

.card:hover {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    animation: shadow-wave 2s ease infinite;
    -webkit-animation: shadow-wave 2s ease infinite;
}

@keyframes shadow-wave {
    0% {
        border: 3px solid var(--primary);
        box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--green), 20px -20px 0 -3px var(--background), 20px -20px var(--yellow), 30px -30px 0 -3px var(--background), 30px -30px var(--orange), 40px -40px 0 -3px var(--background), 40px -40px var(--red);
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
    }

    20% {
        border: 3px solid var(--red);
        box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--primary),
            20px -20px 0 -3px var(--background), 20px -20px var(--green),
            30px -30px 0 -3px var(--background), 30px -30px var(--yellow),
            40px -40px 0 -3px var(--background), 40px -40px var(--orange);
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
    }

    40% {
        border: 3px solid var(--orange);
        box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--red),
            20px -20px 0 -3px var(--background), 20px -20px var(--primary),
            30px -30px 0 -3px var(--background), 30px -30px var(--green),
            40px -40px 0 -3px var(--background), 40px -40px var(--yellow);
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
    }

    60% {
        border: 3px solid var(--yellow);
        box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--orange),
            20px -20px 0 -3px var(--background), 20px -20px var(--red),
            30px -30px 0 -3px var(--background), 30px -30px var(--primary),
            40px -40px 0 -3px var(--background), 40px -40px var(--green);
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
    }

    80% {
        border: 3px solid var(--green);
        box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--yellow),
            20px -20px 0 -3px var(--background), 20px -20px var(--orange),
            30px -30px 0 -3px var(--background), 30px -30px var(--red),
            40px -40px 0 -3px var(--background), 40px -40px var(--primary);
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
    }

    100% {
        border: 3px solid var(--primary);
        box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--green),
            20px -20px 0 -3px var(--background), 20px -20px var(--yellow),
            30px -30px 0 -3px var(--background), 30px -30px var(--orange),
            40px -40px 0 -3px var(--background), 40px -40px var(--red);
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
    }

}

.card {
    margin-bottom: 15px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    text-align: center;


}


.card h5 {

    font-weight: bold;
    font-style: italic;

}


.team .card .card-body a {
    color: #ed1d24;
    font-weight: bold;
    margin: 15px;
    font-size: 2rem;
}

.card a:hover {
    text-decoration: underline;
    text-decoration-color: #ed1d24;
    -moz-text-decoration-color: ;
    cursor: pointer;
}

.card-text {
    color: purple;
}

.team i {
    color: palegreen;
}

/*<!--End  Team -->*/
/*<!--Start  Contact -->*/

.contact i {
    color: orangered;
    font-size: 1.7rem;
}

.contact p {
    font-style: italic;
    font-weight: bolder;
}


/*<!--End  Contact -->*/

/*<!--Start  Footer -->*/
.footer-web {
    text-align: center;
}

.footer-web i {
    color: orange;
    margin: 10px;
}

.footer-list ul {
    list-style: none;
    text-decoration: none;
}

.footer-list ul li {
    list-style: none;
    text-decoration: none;
}


/*<!--End  Footer -->*/